{% extends 'baseBack.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

  <body id="reportsPage">
    <div class="" id="home">
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <a class="navbar-brand" href="index.html">
            <h1 class="tm-site-title mb-0">Admin</h1>
          </a>
          <button
            class="navbar-toggler ml-auto mr-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
              
              
              <li class="nav-item">
                <a class="nav-link" href="/AfficheAgence">
                  <i class="fas  fa-user"></i> Agences
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="/AfficheReservation">
                  <i class="fas fa-shopping-cart"></i> Reservations
                </a>
              </li>
           
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link d-block" href="login.html">
                  Admin, <b>Logout</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="container">
            <div class="row">
                <div class="col">
<br>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                
                
              
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                                              <a class="btn btn-primary" href="/newreservation" > Ajouter Reservation</a>
<hr>
                        <h2 class="tm-block-title">Les Reservations</h2>
                                              <input name="search" placeholder="Checher ... " class="form-control form-control-user" id="search-input"></input>
<hr>
                        <table class="table" id="search-results">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Voiture</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Heure</th>
                                    <th scope="col">Methode</th>
                                    <th scope="col">Duree</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Cin</th>
                                                                        <th scope="col">Action</th>


                                </tr>
                            </thead>
                            <tbody>
                            <tr {% for a in aa %}>                                                        
                            <td>{{a.id}}</td>

                            <td>   {{ a.DateRes ? a.DateRes|date('Y-m-d') : '' }}</td>
                            <td>   {{ a.vehicule.immatriculation }}</td>
                            <td>   {{ a.user.nom }}</td>

                            <td>      {{ a.HeureRes ? a.HeureRes|date('H:i:s') : '' }}</td>

                            <td>{{a.MethodP}}</td>
                            <td>{{a.DureeLoc}}</td>
                            <td>{{a.NomLoc}}</td>


                            <td>{{a.CinLoc}}</td>
                            <td>

                            <a class="btn btn-primary" href="{{ path('deleteReservation', {'id': a.id}) }}"> supprimer </a>

                            <a class="btn btn-primary" href="{{ path('editR', {'id': a.id})}}"> modifier</a>


                            </td>	
            			  </tr {% endfor %}>     
</tbody>
<script>
const searchInput = document.querySelector('#search-input');

// Add an event listener for when the search input changes
searchInput.addEventListener('input', () => {
  // Get the value of the search input
  const searchQuery = searchInput.value.trim();

  // Make an AJAX call to the Symfony controller with the search query as a parameter
  fetch(`/search?nom=${searchQuery}`)
    .then(response => response.json())
    .then(data => {
      // Clear the table
      const table = document.querySelector('#search-results');
      table.innerHTML = '';

      // Add the search results to the table
      data.forEach(result => {
        const row = document.createElement('tr');
        row.innerHTML = `
          <td>${result.id}</td>
          <td>${result.date}</td>
          <td>${result.heure}</td>
          <td>${result.methode}</td>
          <td>${result.duree}</td>
          <td>${result.nom}</td>
          <td>${result.cin}</td>
          <td>
            <a class="btn btn-primary" href="${result.deleteUrl}"> supprimer </a>
            <a class="btn btn-primary" href="${result.editUrl}"> modifier </a>
          </td>
        `;
        table.appendChild(row);
      });
    })
    .catch(error => console.error(error));
});
</script>
   {% if app.session.flashbag.has('error') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashbag.get('error') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 
                    
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="../../Back/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="../../Back/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="../../Back/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="../../Back/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="../../Back/js/tooplate-scripts.js"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();                
            });
        })
    </script>
</body>
{% endblock %}
