{% extends 'template.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ vehicule.puissance }}</td>
            </tr>
            <tr>
                <th>Kilometrage</th>
                <td>{{ vehicule.kilometrage }}</td>
            </tr>
            <tr>
                <th>Nbrdeplace</th>
                <td>{{ vehicule.nbrdeplace }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vehicule.prix }}</td>
            </tr>
        </tbody>
    </table>

<div class="row justify-content-around">
 <a class="btn btn-primary" href="{{ path('app_vehicule_edit', {'immatriculation': vehicule.immatriculation}) }}">edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}
 <a class="btn btn-secondary" href="{{ path('app_vehicule_index') }}">back to list</a>

</div>
{% endblock %}
